@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .container.container-v2 {
        width: 1240px;
    }
    .container.container-v3 {
        width: 1000px;
    }
    .banner {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* MAX 1200 */

@media (max-width: 1199px) {
    .scrollable {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #sub-menu {
        width: 1000px;
    }
}


/* MAX 992 */

@media (max-width: 992px) {
    header .container {
        width: 100%;
    }
    header {
        margin-bottom: 0;
    }
    .square {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media (min-width: 904px) {
    .banner {
        max-width: 860px;
        padding: 20px 0;
    }
    .white-nav .navbar-collapse,
    .white-nav {
        background: #fff;
        padding: 0 40px;
    }
    .navbar .nav {
        margin: 0;
        display: inline-flex;
        width: auto;
    }
    .navbar .nav li {
        display: inline-flex;
        vertical-align: middle;
        float: none;
    }
    #search_form {
        max-width: 150px;
        margin: 0 auto;
        display: flex;
        width: 100%;
        padding: 5px 0 0px 15px;
    }
    #search_form .form-control {
        display: block;
        width: 100%;
        height: 29px;
        padding: 0 12px 0px 12px;
        font-size: 13px;
        border-bottom: 2px solid #eee;
        box-shadow: none;
    }
    .h-box {}
    .hb1 {}
    .hb2 {}
    .h-b3 {}
    #sub-menu .navbar-nav>li {
        float: none;
        display: inline-block;
        padding: 0 0;
    }
    #sub-menu .navbar-nav>li>a {
        color: #030303;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.03em;
    }
    .navbar .navbar-inner {
        padding: 0;
    }
    .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
    }
    .navbar .nav>li {
        vertical-align: middle;
        float: none;
    }
    .navbar .nav li a {
        font-weight: bold;
        text-align: center;
    }
    .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
    }
    .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
    }
    body>header>div.container.banner>div.align-elem-right>div.social-media-links-banner>ul>li.tw {
        display: block;
        margin-top: 5px;
    }
    div.left-banner {
        margin-top: 23px;
        position: relative;
        z-index: 20;
    }
    .dropdown-menu li {
        display: block !important;
        padding-top: 7.5px;
        text-align: left !important;
        padding-bottom: 7.5px;
    }
    .dropdown-menu .navbar .nav li a {
        text-align: left !important;
    }
}

@media (max-width: 941px) {
    .scroll-contorl.right-c {
        display: none;
    }
}

@media (max-width: 940px) {
    .scroll-contorl.right-c {
        display: inline-block;
    }
    .scroll-contorl {
        top: 0;
    }
}

@media (max-width: 903px) {
    .square {
        width: 100%;
        padding-bottom: 100%;
    }
    .hide-scroll {
        margin-top: 40px;
    }
    .scroll-contorl {
        top: 0;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .navbar-collapse li {
        width: 100%;
    }
    .collapsing {
        overflow: hidden!important;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .navbar-center {
        background: #fff;
        position: relative;
        z-index: 99;
    }
    .hide-in-mobile {
        display: none;
    }
    #nwg-sm,
    .navbar-toggle {
        position: absolute;
        right: 3%;
        margin: 0;
        float: none;
        padding: 9px 10px;
        color: #000;
        background-color: transparent;
        background-image: none;
        border-style: none;
        top: 15px;
    }
    #nwg-sm {
        left: 3%;
        width: 55px;
        top: 14px;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        color: #000;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000;
    }
    #main_menu>div>div.navbar-header {
        text-align: center;
    }
    #main_menu>div>div.navbar-header>a>img {
        width: 50%;
        max-width: 150px;
    }
    .fa.fa-bars {
        font-size: 40px;
    }
    .banner {
        display: none;
    }
    .navbar-header {
        padding-top: 10px;
    }
    header {
        height: auto;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background: transparent;
    }
    #main_menu>div>div.navbar-header>a>img {
        display: inherit;
    }
    #nwg-sm {
        display: block;
    }
    .navbar-inverse {
        height: auto;
    }
}

@media (max-width: 767px) {
    .card-container {
        max-width: 480px;
        width: 100%;
        margin: 10px auto;
    }
    .main-slider-1,
    .main-slider-right-content {
        width: 100%;
        height: auto !important;
    }
    footer .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.tag-name {
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
    margin-top: 5px;
    background: transparent;
    padding: 2px 10px;
    color: #666;
    font-size: 12px;
    border: 1px solid #aaa;
}

.stories-header {
    padding: 85px 0;
}

.stories-header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 4em;
    text-shadow: 1px 1px 2px rgba(244, 244, 244, 0.82);
    color: #000;
    margin: 10px 0;
}

.tag-menu a:hover,
.tag-menu a.active {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.tag-menu a {
    margin-right: 10px;
    font-size: 12px;
    border: 1px solid #eee;
    color: #eee;
    font-size: 13px;
    background: transparent;
    padding: 2px 10px;
    font-family: 'Roboto', sans-serif;
}

#search_form>input {
    color: #444;
}