body,
footer,
section,
header {
    overflow-x: hidden;
}

header {
    overflow-y: hidden;
}

article {
    margin-top: 30px;
}

main>section>h1 {
    display: none;
}

#nwg-sm {
    display: none;
}

.main-slider-1 {
    width: 57%;
    float: left;
}

.main-slider-right-content {
    width: 43%;
    float: left;
}

.panel-1 {
    width: 100%;
}

.panel-2-a,
.panel-2-b {
    width: 50%;
    float: left;
}

.featured-image-bg {
    position: relative;
}

.panel-h3 {
    position: absolute;
    bottom: 10px;
    margin: 0;
    left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(117, 117, 117, 0.8);
    color: #fff;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

body {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    font-size: 14px;
}

header {
    height: 270px;
    margin-bottom: 0px;
}

#main_menu>div>div.navbar-header>a>img {
    display: none;
}

.navbar-inverse {
    height: 50px;
    border-radius: 0;
}

.navbar-inverse,
.navbar-inverse .navbar-collapse {
    background: #000;
    border: none;
}

.white-nav .navbar-collapse,
.white-nav {
    background: #fff;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center !important;
}

.aligncenter {
    text-align: center;
    margin: 50px auto !important;
    display: block;
    
}
.alignright{
    float: right;
}

#search_form button,
#search_form input {
    border-style: none;
    color: #fff;
    font-weight: lighter;
    background: transparent;
}

#search_form {
    width: 100px;
    margin: 0 auto;
}

#main_menu ul.nav.navbar-nav.navbar-center li a {
    font-family: 'Lato', sans-serif;
    color: #fff;
}

#main_menu ul.nav.navbar-nav.navbar-center li:after {
    content: "|";
    position: absolute;
    color: #4c4c4c;
    top: 13px;
}

#main_menu ul.nav.navbar-nav.navbar-center li:first-child:after {
    content: "";
}

#main_menu.white-nav ul.nav.navbar-nav.navbar-center li:after {
    color: #dfe8ed;
    margin-left: -1px;
}

#main_menu.white-nav ul.nav.navbar-nav.navbar-center li a {
    font-family: 'Lato', sans-serif;
    color: #586a71;
}

.green-nav a {
    color: #92f375 !important
}

#main_menu.white-nav ul.nav.navbar-nav.navbar-center li.active>a,
#main_menu.white-nav ul.nav.navbar-nav.navbar-center li>a:hover {
    color: #53A040;
    background: #fff;
    text-decoration: none;
}

.banner {
    height: 160px;
}

#sub-menu {
    height: 55px;
    text-align: center;
    border-top: 2px solid #f2f4f5;
    width:1170px;
    border-bottom: 2px solid #f2f4f5;
}

#sub-menu .navbar-nav {
    float: none;
    margin: 0 auto;
    position: relative;
    z-index: 999;
}

#sub-menu .navbar-nav>li {
    float: none;
    display: inline-block;
}

#sub-menu .navbar-nav>li>a {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

#sub-menu .navbar-nav>li>a:hover {
    background: transparent;
}

.card-content .card-heading,
.card-content .card-text {
    font-family: 'Roboto', sans-serif;
}

.card-content .card-heading {
    font-size: 1.5em;
    margin-top: 0;
    font-weight: bold;
    color: #000;
}

.card-img-container {
    position: relative;
    padding: 20px;
    overflow: hidden;
    height: 240px;
}

.post_loop>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-banner img {
    width: 300px;
    height: 250px
}

.card-container {
    position: relative;
    height: 100%;
    background-color: #fff;
    transition: 0.5s all;
}

.card-container:hover {
    background-color: #EBEFF1;
    border-radius: 1px;
}

.card-container.special {
    background: #ECF0F1;
}

.card-img-container img {
    width: 100%;
    height: auto;
    min-height: 240px;
}

.card-img-container>div {
    text-transform: uppercase;
    padding: 5px 10px;
    background: #ECF0F1;
    /* float: left; */
    position: absolute;
    bottom: 0px;
}

.card-img-container .card-img-text {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.card-content {
    margin-top: 10px;
    padding: 20px;
    padding-top: 0;
}

.remove-padd {
    padding-right: 0;
    padding-left: 0;
}

.center-hr-element {
    background-color: #FFF;
    padding: 0 40px;
}

.center-hr {
    width: 100%;
    height: 30px;
    border-bottom: 3px solid #e5e5e5;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 50px;
}

.center-hr .btn {
    padding: 10px;
    text-align: center;
    width: 240px;
    background: #fff;
    border: 3px solid #e5e5e5;
    border-radius: 35px;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.center-hr p {
    text-align: center;
    width: 150px;
    background: #fff;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    margin-top: -5px;
}

footer {
    background: #ededed;
}

.widget-container {
    padding: 35px 35px 20px;
    margin-bottom: 5px;
    text-align: center;
}

.widget-container h3 {
    margin-top: 10px;
    font-size: 1.75em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}

.widget-container p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.widget-container .btn img {
    width: 13px;
}

.widget-container .btn {
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 275px;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 8px 30px;
    text-align: center;
    border-radius: 100px;
    text-align: left;
    border: 3px solid rgba(229, 229, 229, 0.5);
    background: transparent;
}

.text-white {
    color: #fff !important;
}

.bg-green {
    background-color: #1F864F;
}

#mail-btn-img,
#phone-btn-img {
    margin-right: 15px;
}

#mail-btn-img {
    width: 20px;
    margin-left: -5px;
}

#footer-widgets {
    margin-top: -60px;
    margin-bottom: 0px;
}

footer {
    margin-top: 50px
}

.sky-bg img {
    margin-bottom: 5px;
}

.sky-bg {
    background: #FFCA28;
    padding-bottom: 10px;
}

.blug-drk-bg {
    padding: 12px;
    background: #004660;
}

.blug-drk-bg p {
    margin-bottom: 0;
}

.yellow-bg {
    background: #0095CC;
}

.yellow-bg #assoc-bot {
    margin-top: 10px;
    font-size: 3em;
    color: #FFF;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.yellow-bg h4 {
    color: #FFF;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}

.yellow-bg img {
    margin: 25px auto;
    width: 170px;
}

.gold-border {
    font-family: 'Roboto', sans-serif;
    border-color: #CEA31E !important;
    color: #000;
}

.black-border {
    font-family: 'Roboto', sans-serif;
    border-color: #000 !important;
    color: #000;
}

.white-border {
    font-family: 'Roboto', sans-serif;
    border-color: #FFF !important;
}

.text-9d {
    font-family: 'Roboto', sans-serif;
    color: #9d9d9d;
}

.align-elem-right {
    float: right;
}

.align-elem-left {
    float: left;
}

.banner {
    text-align: center;
    padding-left: 145px;
    padding-right: 145px;
    padding-top: 30px;
    position: relative;
}

.navbar {
    margin-bottom: 0;
}

#nwg {
    display: inline-block;
    ;
}

#nwg p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #9DA495;
    margin-bottom: 5px;
    font-size: 90%;
    text-align: left;
}

#assoc {
    margin-top: 16px;
}

#assoc #assoc-count{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size:3em;
    display: block;
    
    color: #5A9F48;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.social-media-links-banner p,
#assoc p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #9DA495;
    margin-bottom: 5px;
    font-size: 90%;
    text-transform: uppercase;
}

#assoc p {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 600;
}

.main-logo {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    text-align: center;
}

.social-media-links-banner p {
    text-align: left;
    padding-left: 5px;
}

.social-media-links-banner {
    margin-right: 19px;
    display: inline-block;
    vertical-align: top;
}

.social-meida-icons-banner {
    padding-left: 0;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 7px;
}

.social-meida-icons-banner li i {
    color: #fff;
    text-align: left;
    font-size: 15px;
}

.social-meida-icons-banner li {
    list-style: none;
    display: inline-block;
}

#main-1 .row {
    margin-bottom: 25px;
}

#hero-slider {
    overflow: hidden;
}

#hero-slider img {
    width: 100%;
}

#hero-slider div>.row>div {
    padding: 0;
    position: relative;
}

.text-2,
.text-1 {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: #fff;
    margin: 0;
}

.text-1 {
    font-size: 1.75em;
    bottom: 15px;
    left: 25px;
}

.text-2 {
    font-size: 1.25em;
    top: 185px;
    left: 25px;
}

.eco-mag-text {
    width: 100%;
    max-width: 650px;
    font-size: 1.1em;
    margin: 80px auto;
    font-family: 'Roboto', sans-serif;
}

.tabs-container,
.gallery-container,
.eco-mag-container {
    padding: 0 95px;
}

.square {
    float: left;
    position: relative;
    width: 33.333%;
    padding-bottom: 33.333%;
    background-position: center;
    height: 0;
    background-repeat: no-repeat !important;
    background-size: cover;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    /* you change this to "contain" if you don't want the images to be cropped */
}

.square:hover {
    background-size: 125% !important;
    background-position: center !important;
}

.hide-img {
    display: none;
}

.square h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    position: absolute;
    color: #fff;
    padding: 0 20px;
    width: 100%;
    text-align: center;
    top: 40%;
}

#eco-slider img {
    width: 100%;
    max-height: 490px;
    overflow: hidden;
}

.square-ad-padd {
    text-align: center;
    width: 33%;
    float: left;
    padding-top: 5%;
}

.gallery-card-container {
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.43);
    background: #F3F3F3;
}

.gallery-card-container .gallery-card-img img {
    width: 100%;
    overflow: hidden;
}

.gallery-card-container .gallery-card-img {
    max-height: 195px;
    overflow: hidden;
}

.gallery-card-container .gallery-card-content {
    padding: 15px;
}

.gallery-card-content p {
    font-family: 'Roboto', sans-serif;
}

p.gallery-card-date {
    font-size: 0.8em;
    margin: 0 0 5px;
}

p.gallery-card-text {
    font-size: 1.2em;
}

.section-heading {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 3.5em;
    color: #000;
    margin: 55px 0 45px;
}

.gallery-container h1 {
    font-size: 3.25em;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.gallery-container .center-hr {
    margin-top: 75px;
}

.nav-tabs>li {
    display: inline-block;
    float: none;
}

.nav-tabs {
    text-align: center;
    border-bottom: 0px solid;
}

.nav-tabs>li>a {
    font-weight: 500;
    margin-right: -1px;
    font-family: 'Lato', sans-serif;
    border-bottom: 2px solid #D7D7D7;
    color: #999;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: transparent;
    border: none;
    font-weight: 400;
    border-radius: 0;
    border-bottom: 2px solid #55A043;
    color: #000;
}

.nav-tabs>li>a:hover {
    color: #000;
    font-weight: 400;
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #55A043;
}

.tab-content {
    margin-top: 70px;
}

#text-tabs-1 {
    color: #000;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

.tabs-contacts {
    font-family: 'Roboto', sans-serif;
}

.tabs-contacts p {
    font-weight: 500;
}

.tabs-contacts .tel,
.tabs-contacts .name {
    margin: 0 0 0px;
}

.tabs-contacts .pos {
    font-size: 0.9em;
    font-weight: 400;
}

.tabs-contacts .tel {
    margin-top: 15px;
}

.tabs-contacts .mail {
    text-decoration: underline;
}

.tabs-contacts {
    padding: 30px;
    padding-bottom: 0
}

.border-right {
    border-right: 3px solid #F1F1F1;
}

.tab-pane h3 {
    font-family: 'Lato', sans-serif;
    color: #55A847;
    font-weight: 600;
    margin-bottom: 5px;
}

.mag-article {
    margin-bottom: 40px;
}

.mag-article p {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

.mag-article .mag-title {
    font-weight: 600;
    font-size: 16px;
}

.mag-article .mag-link a {
    text-decoration: underline;
}

.file-img {
    float: left;
    width: 30px;
    margin-right: 25px;
}

.margin-file {
    margin-bottom: 15px;
}

.file-desc-cont {
    float: left;
}

.file-desc-cont {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 80%;
}

.file-desc-cont .file-date {
    font-weight: 400;
    font-size: 0.9em;
    margin-bottom: 0;
}

.file-desc-cont .file-link {
    font-size: 16px;
    color: #0299C3;
    margin-bottom: 5px;
}

.post-sub-desc {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
}

.share-count {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.share-count h1 {
    color: black;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.small-1 {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 80%;
    font-weight: 600;
    line-height: 0;
}

.share-links-1 {
    display: inline-block;
}

.share-links-1 table {
    width: 260px;
}

.share-links-1 table tr {
    width: 260px;
    border-top: 1px solid #D7D9D8;
    border-bottom: 1px solid #D7D9D8;
    border-left: 1px solid #D7D9D8;
}

.share-links-1 table tr td {
    text-align: center;
    border-right: 1px solid #D7D9D8;
    padding: 0 20px;
}

.share-links-1 table tr td img {
    margin: 18px auto;
    width: 18px;
    height: 18px;
}

.share-link {
    margin-top: 30px;
    margin-bottom: 35px;
}

.blog-text {
    width: 800px;
    margin: 50px auto;
}

.blog-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.blog-text h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header {
    border-top: 5px solid #1BBCFD;
}

#hero-slider .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.hide-scroll {
    position: relative;
}

.scroll-contorl {
    background: transparent;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    font-size: 17px;
    z-index: 999;
    position: absolute;
    /* padding: 10px; */
    text-align: center;
    top: 43px;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.left-c {
    left: 0px;
    display: none;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .5)), to(rgba(255, 255, 255, .0001)));
    background-image: linear-gradient(to right, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .0001) 100%);
}

.right-c {
    right: 0px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .0001) 0, rgba(255, 255, 255, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, .0001) 0, rgba(255, 255, 255, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .0001)), to(rgba(255, 255, 255, .5)));
    background-image: linear-gradient(to right, rgba(255, 255, 255, .0001) 0, rgba(255, 255, 255, .5) 100%);
}

.scroll-contorl>span {
    -webkit-text-stroke: 2px white;
}

.scroll-contorl {
    display: none;
}

#search_btn {
    margin-left: -35px;
}

#search_btn .fa {
    color: #000;
}

.inline-1 h1,
.inline-1 p {
    display: inline-block;
}

#main_menu #assoc {
    display: none;
}

#add-1 {
    width: 100%;
    max-width: 970px;
    margin-bottom: 20px;
}

#myNavbar>ul>li>a {
    text-transform: uppercase !important;
}

.eco-mag-img-container {
    cursor: pointer;
}

.eco-mag-img-container:hover p {
    text-decoration: underline;
}

.eco-mag-img-container:hover .square-content-overlay {
    width: 100%;
    padding-top: 100%;
    z-index: 90;
    background: rgba(0, 0, 0, 0.25);
}

.square-content {
    position: absolute;
    bottom: 0;
    padding: 10px 30px;
    color: #fff;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.80) 89%, rgba(0, 0, 0, 0.95) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.80) 89%, rgba(0, 0, 0, 0.95) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.80) 89%, rgba(0, 0, 0, 0.95) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    z-index: 100;
}

.square-content p {
    font-family: 'Roboto', sans-serif;
    color: #fff !important;
    font-weight: 400;
}

.gallery-year h4 {
    font-weight: bold;
    margin: 40px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.billboard-cont {
    margin: 20px auto;
    margin-bottom: 50px;
}

.billboard-cont img {
    width: 85%;
}

#main-1 .eco-mag-tiles-1 {
    margin-bottom: 200px;
}

#main_menu #myNavbar>ul>li>a {
    padding: 15px 15px;
}

#myNavbar>ul {
    text-align: center;
}

.tabs-container {
    margin-bottom: 200px;
}

#hero-slider>div>div.main-slider-right-content.clearfix>div.panel-2.clearfix>div.panel-2-a>img {
    max-height: 231.6px;
}

#myNavbar>ul>li:nth-child(8):after {
    margin-top: -8px;
}

.card-content>h3:hover {
    text-decoration: underline;
}

.center-hr .btn:hover {
    background: #e5e5e5
}

#footer-widgets>div:nth-child(2)>div.widget-container.sky-bg>button:hover {
    color: #fff;
}

#footer-widgets>div:nth-child(2)>div.widget-container.blug-drk-bg>p:hover {
    color: #000;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 5px;
    letter-spacing: -0.5px;
    color: #666;
}

.abosulte-text-slider {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
}

.cat-name {
    display: inline-block;
    padding: 5px;
}

.cat-name,
.cat-title {
    color: #fff;
}

.abosulte-text-slider>a>p {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.4);
}

.cat-title {
    font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px 2px rgba(117, 117, 117, 0.8);
    font-weight: 600;
    font-weight: 1.75em;
    padding-left: 60px;
    padding-right: 60px;
}

.bg-1 {
    background-size: cover !important;
    padding: 40px 0;
    background-repeat: no-repeat;
    margin-top: 0
}

#sub-menu>ul>li>a {
    padding-left: 0;
    padding-right: 0;
    margin: 0 14px;
}

#sub-menu>ul>li.active a,
#sub-menu>ul>li.active-li a,
#sub-menu>ul>li>a:hover {
    border-bottom: 4px solid #000;
}

#sub-menu>ul>li:last-child a,
#sub-menu>ul>li.active-li:last-child a,
#sub-menu>ul>li:last-child>a:hover {
    color: #0094C9;
}

.eco-mag-img-container:hover h1,
.eco-mag-img-container h1:hover {
    text-decoration: underline;
}

p.mail:hover {
    cursor: pointer;
}

p.file-link:hover {
    text-decoration: underline;
}

.play_container {
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 100%;
    text-align: center;
    padding-top: 100px;
}

.gallery-container {
    width: 100% !important;
    max-width: 1000px;
    padding: 0 0;
}

.gallery-container .square {
    background-size: cover !important;
}

#nwg>a>img {
    max-width: 60px;
}

#floating-menu-1 {
    margin-top: 50px;
}

.t5-menu-img-c {
    min-height: 50px;
}

.t5-menus-btn-c>ul {
    padding-left: 20px;
}

.t5-menus-btn-c>ul>li {
    display: table-cell;
}

.t5-menus-btn-c>ul>li>a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-left: 0.5px solid #ddd;
    padding: 14px 20px;
    background: #3F95CE;
    line-height: 1;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.t5-menus-btn-c>ul>li>a:hover,
.t5-menus-btn-c>ul>li.active>a,
.t5-menus-btn-c>ul>li.current-menu-item>a {
    background: #31729D;
    text-decoration: none;
}

.t5-menus-btn-c {
    display: inline-block;
    vertical-align: middle;
}

.t5-menu-img-c {
    display: inline-block;
}

.Video-banner>img {
    width: 100%;
}

.Video-banner {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 50px;
}

.Video-banner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Video-banner .play_container {
    top: 0;
}

.t5-head-1 {
    text-align: left !important;
}

.t5-text-heading-c {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #666;
    font-weight: 500;
}

.t5-text-heading-2>.section-heading {
    margin-bottom: 30px;
}

.eco-mag-text.t5-text-heading-2 {
    margin: 50px auto;
    width: 670px;
}

.modal-backdrop {
    background-color: #000;
    opacity: 0.9 !important;
}

.home .modal-backdrop {
    opacity: 0.4 !important;
}

.home .modal-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-style: none;
}

.home .modal-body {
    padding: 0;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-dialog {
    width: auto;
}

.modal-content {
    background: transparent;
}

.modal-header {
    padding: 10px;
    border-style: none;
    border-radius: 0;
}

.modal-header .close {
    font-size: 25px;
    color: #fff;
    opacity: 0.9;
}

.close-vid {
    height: 25px;
    width: 25px;
    background-color: transparent;
    background: url('../../img/x.png') no-repeat !important;
    background-size: contain !important;
}

.modal-header p,
.modal-header h4 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-bottom: 0;
}

.modal-header h4 {
    margin-top: 0px;
    font-size: 30px;
    font-weight: 200;
}

.modal-header p {
    font-size: 12px;
    margin-bottom: 0;
}

#myNavbar>ul>li.v23>a {
    background: #000 !important;
}

.post-contents {
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 0 15px;
    max-width: 700px;
}

.post-main-image img {
    width: 100%;
    height: auto !important;
}

.strong {
    font-weight: bold;
}

.share-links {
    width: 100%;
    float: left;
    box-sizing: border-box;
    min-height: 1px;
    margin: 0 15px;
    max-width: 150px;
}

.social-media-share-button {
    width: 80px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.social-media-share-button>div:last-child {
    border-bottom: 1px solid #dbdbdb;
}

.social-media-share-button>div {
    display: block;
}

.social-media-share-button>div {
    border: 1px solid #dbdbdb;
    border-bottom: 0px none #dbdbdb;
    display: block;
    padding: 20px 30px;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}

.share-count-bold {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    display:block;
    font-size: 42px;
    color: #000;
    margin-bottom: 0px;
    line-height: 30px;
}

.share-count-label {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: 600;
}

.share-links {
    text-align: center;
    margin-top: 140px;
}

.post-title {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    color: #000;
    font-weight: 600;
}

.post-short-desc {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    color: #666;
    font-weight: 600;
}

.post-header {
    margin-bottom: 45px;
}

.post-date {
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-weight: 400;
    font-size: 0.9em;
}

.article-content {
    margin-top: 0px;
}

.article-content p {
    font-family: 'Roboto', sans-serif;
    color: #1f1c1c;
    font-size: 17px;
    margin-bottom: 0px;
}


/*SLIDER start*/

.multi-item-carousel .carousel-inner>.item {
    transition: 500ms ease-in-out left;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}

.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}

.multi-item-carousel .carousel-inner .next {
    left: 33%;
}

.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner>.item {
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        margin-left: -20%;
        transform: none!important;
    }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}

.galery-slider-item {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    padding: 0 15px;
    overflow-y: hidden;
}

.galery-slider-item img {
    width: 100%;
}


/*SLIDER END*/

.article-view {
    margin-left: 40px;
}

#article-main-container {
    margin-bottom: 50px;
    width: 100%;
    margin: 0 auto 50px auto;
}

.commenti {
    width: 200px;
    text-transform: uppercase;
    margin: 0 auto;
    background: #fff;
}

.commenti p {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

.chrv2 {
    margin-bottom: 70px;
}

.rel-article {
    margin-bottom: 50px;
}

.article-hero-slider {
    background-size: cover !important;
    overflow-y: hidden;
    height: 500px;
    position: relative;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
    margin: -5px -5px -5px -5px;
}

.article-hero-slider>img {
    visibility: hidden;
}

#blur-bg {
    overflow: hidden;
    position: relative;
    margin-top: -20px;
    margin-bottom: 25px;
}

.article-hero-img img {
    height: 500px;
}

.article-hero-img-cont {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
}

#floating-menu-2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

footer>div {
    margin-top: 70px;
}

.clone.left img,
.clone.right img,
.lslide img {
    width: 100%;
}

.lightSlider {
    margin-left: -25%;
}

.lSPager {
    display: none;
}

#floating-menu-1 {
    text-align: center;
    background: #fff;
}

#floating-menu-1 * {
    transition: 0.5s all;
}

#floating-menu-1.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100% !important;
    margin-top: 0;
    z-index: 400;
    transition: 0.5s all;
}

#floating-menu-1.fixed .floating-logo-top img {
    width: 200px;
}

#main-1 {
    position: relative;
}

.floating-container-1 {
    position: relative;
    z-index: 50;
}

.bs-example #floating-menu-1 {
    margin-top: 0px;
    margin-bottom: 50px;
}

.hide-img {
    display: none !important;
}

.featured-slide {
    padding-top: 500px;
}

.featured-image-bg {
    padding-top: 250px;
    background-repeat: no-repeat !important;
}

.t5-menus-btn-c ul {
    margin-bottom: 0 !important;
}

.featured-slide:hover {
    cursor: pointer;
}

.featured-slide:hover h1 {
    text-decoration: underline;
}

.featured-slide a:hover {
    text-decoration: none;
}

.nav-v3 {
    display: inline-block;
}

.nav-v3>li {
    display: inline-block;
}

.nav-v3>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-v3>li>a:hover {
    background: transparent;
    text-decoration: none;
    color: #000;
}

.top_logo.fixed .floating-logo-top {
    display: inline;
}

.top_logo {
    border-bottom: 1.5px solid #ccc;
    -webkit-box-shadow: 0 6px 4px -4px #ccc;
    -moz-box-shadow: 0 6px 4px -4px #ccc;
    box-shadow: 0 6px 4px -4px #ccc;
}

.article-content img {
    height: auto;
    max-width: 100%;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}

.eco-mag-text h1:first-child {
    text-align: center;
}

.share-links.vertical-links {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
}

.vertical-links .share-buttons {
    float: left;
    width: 85px;
    border-bottom: 1px solid #dbdbdb;
}

.vertical-links .social-media-share-button {
    width: 300px;
    display: inline-block;
}

.tag-name:hover {
    border-color: #000;
    color: #000;
}

.vertical-links-text {
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
    margin-right: 5px;
}

.regular-width .video-thumb {
    background-size: cover !important;
}

.regular-width .play_container {
    padding-top: 50px;
}

.t7 .post-header {
    text-align: center
}

.t7 .post-short-desc {
    font-weight: normal;
    font-size: 16px;
}

.t7-content>p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-title {
    text-align: center;
}

.sub-title {
    text-align: center;
}

.default_wide {
    float: none;
    margin: 0 auto;
    max-width: 800px;
}

.page-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4 {
    font-family: 'Lato', sans-serif;
}

.wide-template .post-contents {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
}

.menu-item-has-children>a.dropdown-toggle {
    cursor: default;
}

#footer-widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-heading {
    background-position: center !important;
}

@media (max-width: 903px) {
    .scroll-contorl {
        z-index: 1000;
    }
    .scroll-contorl.left-c {
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
        /* IE6-9 */
    }
    .scroll-contorl.right-c {
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
        /* IE6-9 */
    }
    .navbar #nwg-sm {
        display: none;
    }
    #main_menu.white-nav ul.nav.navbar-nav.navbar-center li:after {
        display: none;
    }
    .navbar .navbar-collapse.collapse.in {
        margin-top: 20px;
    }
    .archive .card-img-container div {
        bottom: 42px;
    }
    .archive .card-content {
        margin-top: -35px;
    }
    footer .container.text-center {
        margin: 0
    }
    .article-hero-slider {
        display: none;
    }
    .article-hero-img-cont {
        position: initial;
    }
    .article-view {
        margin: 0;
    }
    .share-links {
        width: 100%;
        margin: 0;
        max-width: none;
    }
    .social-media-share-button {
        width: auto;
        overflow: auto;
        border: 1px solid #dbdbdb;
        display: inline-block;
        margin-bottom: 25px;
    }
    .social-media-share-button>div {
        width: 80px;
        display: inline-block;
        float: left;
        border: 0;
    }
    .lSAction>a {
        opacity: 1;
    }
    #article-main-container .article-view:last-of-type {
        display: block;
    }
    .article-main-container .container .container.text-center img {
        max-width: 100%;
    }
    .rel-article {
        margin-bottom: 0;
    }
    #sub-menu {
        text-align: left;
    }
}

.page-template-template-003c .main-content {
    margin-top: 18px;
}

.article-content img {
    margin: 50px 0;
}

.article-content .lSSlideOuter {
    margin: 60px 0;
}

h1 {
    font-size: 42px;
    line-height: 1em;
    color: #000;
}

h2 {
    font-size: 30px;
    line-height: 1em;
    color: #000;
}

h3 {
    font-size: 24px;
    line-height: 1em;
    color: #000;
}

h4 {
    font-size: 18px;
    line-height: 1em;
    color: #000;
}

.btn-l {
    display: inline-block;
    padding: 15px 50px;
    border-radius: 30px;
    color: #000;
    background: #fff;
    border: 3px solid #e5e5e5;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    margin: 5px 0;
}

.btn-l:hover {
    background: #f3f3f3;
    border-color: #e0e0e0;
}

.btn-m {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 30px;
    color: #fff;
    background: #0092ce;
    border: 3px solid #007cb5;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    margin: 5px 0;
    font-size: 15px;
}

.btn-m:hover {
    background: #00a7ed;
    border-color: #0190cc;
}

.btn-m-green {
    background-color: #539f3b;
    border-color: #398226;
}

.btn-m-green:hover {
    background-color: #5dc53c;
    border-color: #579c3f;
}

.btn-m-yellow {
    background-color: #ffcc00;
    border-color: #daaf00;
}

.btn-m-yellow:hover {
    background-color: #ffde00;
    border-color: #323232;
}

.btn-s {
    display: inline-block;
    padding: 10px 45px;
    border-radius: 30px;
    color: #000;
    background: #ffffff;
    border: 3px solid #bfbfbf;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    margin: 5px 0;
    font-size: 13px;
}

.btn-s:hover {
    background: #f1f1f1;
    border-color: #333333;
}

p {
    margin-bottom: 1em;
    line-height: 1.6em;
    font-size: 15px
}

p.wp-caption-text {
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-weight: 400;
    font-size: 0.9em;
}

a {
    color: #0d8aca
}

a:hover {
    color: #23baff
}

ul {
    padding: 0;
}

ul li {
    color: black;
    list-style-type: none;
}

ul.bullets li:before {
    color: #0793ce;
    content: '\2022';
    padding-right: 0.5em;
}

ol.bullets {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

ol.bullets>li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

ol.bullets>li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

.form-group {
    margin: 5px 0 15px;
}

label.form-control {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #262626
}

input[type=text].form-control {
    min-width: 275px;
    padding: 10px 15px;
    font-size: 15px
}

input[type=text].form-control.form-control-error {
    border: 1px solid #ff6569;
}

span.form-control-error-info {
    display: block;
    margin: 5px 0 10px;
    font-size: 12px;
    color: #ff6569;
}

#floating-menu-1 .nav>li>a:focus,
#floating-menu-1 .nav>li>a:hover {
    background-color: #fff;
    outline: none
}

.control {
    font-size: 18px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid #cccccc;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
    border: 1px solid transparent;
}

.control input:checked~.control__indicator {
    background: #4590ca;
    border: 1px solid transparent;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: #0e647d;
    border: 1px solid transparent;
}

.control input:disabled~.control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
    border: 1px solid transparent;
}

.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    top: 0px;
    left: 5px;
    width: 9px;
    height: 16px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 4px 4px 0;
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled~.control__indicator:after {
    background: #7b7b7b;
}

.form-msg {
    padding: 15px;
    margin: 10px 0;
}

.error-msg {
    background: #ff3334;
}

.success-msg {
    background: #5dc53c;
}

.form-msg span {
    display: block;
    color: #fff;
    font-size: 13px
}

.form-msg span.title {
    font-weight: 700;
    margin-bottom: 5px
}

#main_menu.white-nav ul.nav.navbar-nav.navbar-center li a {
    color: #536a72;
    font-weight: 400
}

.dropdown-menu {
    left: -45%;
    border: 1px solid #e6e6e6;
}

.dropdown-menu::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 86px;
    position: absolute;
    top: -8px;
}

.dropdown-menu::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 86px;
    position: absolute;
    top: -7px;
}

.dropdown-menu li:hover,
.dropdown-menu li:hover a {
    background: #ededed !important
}

.dropdown-menu li a {
    color: #000000;
    font-weight: 400;
}

#sub-menu .navbar-nav>li>a {
    color: #000000;
}

#sub-menu>ul>li.active a,
#sub-menu>ul>li.active-li a {
    border-bottom: 3px solid #000000;
}

#sub-menu>ul>li>a:hover {
    border-bottom: 3px solid #7a7a7a;
}

#sub-menu>ul>li.active>a:hover {
    border-bottom: 3px solid #000000;
}

ul.menu-b {
    list-style: none;
    padding: 0;
}

ul.menu-b li {
    display: inline-block;
    margin-right: -3px;
}

ul.menu-b li a {
    color: #ffffff;
    display: block;
    background: #4191d0;
    padding: 15px;
    text-decoration: none;
}

ul.menu-b li:hover a {
    background: #397eb7
}

ul.menu-b li.active a {
    background: #326f9e
}

ul.menu-sub {
    list-style: none;
    padding: 0;
}

ul.menu-sub li {
    display: inline-block;
    margin: 0 30px;
    color: #606060;
}

ul.menu-sub li:first-of-type {
    margin-left: 0
}

ul.menu-sub li:last-of-type {
    margin-right: 0
}

ul.menu-sub li a {
    text-decoration: none;
    color: #0065d1;
    padding: 10px 15px;
    display: block;
}

ul.menu-sub li a:hover {
    text-decoration: underline;
    color: #5b99fc;
}

ul.menu-sub li.active a {
    background: #4191d0;
    color: #ffffff
}

ul.menu-sub li.active a:hover {
    color: #ffffff;
    text-decoration: none;
}

ul.menu-tabs {
    list-style: none;
    padding: 0;
}

ul.menu-tabs li {
    display: inline-block;
    padding: 0 30px 5px;
    color: #6b6b6b;
    border-bottom: 1px solid #d7d7d7;
    margin-right: -4px;
}

ul.menu-tabs li.active {
    border-color: #53a03a;
    color: #606060;
}

ul.menu-tabs li.active:hover {
    border-color: #53a03a;
    color: #606060;
}

ul.menu-tabs li:hover {
    border-color: #666666;
    cursor: pointer;
    color: #666666
}

#gallery_items h4 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 2em;
}

#gallery_items img {
    max-height: 80vh;
    width: auto !important;
}

#image_title_c {
    height: 0;
    margin-top: -20px;
}

.gallery_c_i p {
    margin-bottom: 0px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.menu-item.current-menu-parent>a.dropdown-toggle {
    color: #53A040 !important;
}

@media (max-width: 1200px) {
    #main-article .share-links {
        margin-top: 0px !important;
    }
}

#main_menu ul.nav.navbar-nav.navbar-center li:after {
    display: none;
}

.social-buttons {
    display: none;
}

@media (max-width: 903px) {
    #featured_slider {
        margin: 0 -15px;
    }
    .eco-mag-text {
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
    }
    .eco-mag-container {
        padding: 0
    }
    .eco-mag-img-container.square {
        padding: 80px 0;
    }
    .square h1 {
        text-align: left;
        top: 30%;
        font-size: 32px;
        font-weight: 500;
    }
    .square h1:after {
        content: '';
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABN0lEQ?y5XNvxOaZyHkiGYuoncx3JCjXZXw+lNuFf70u+XwPqDPwCJ6w0IVaAB2QAAAAASUVORK5CYII=);
        position: absolute;
        width: 32px;
        height: 32px;
        right: 15px;
        filter: invert(100%);
    }
    .category h1.section-heading {
        margin-left: -15px;
        margin-right: -15px;
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0;
    }
    .archive .card-content {
        margin-top: 10px;
        padding-bottom: 0;
    }
    .card-content .card-text {
        margin-bottom: 0
    }
    .archive .card-img-container div {
        bottom: 0;
    }
    .page-template-template-003c #blur-bg {
        display: none;
    }
    .page-template-template-003c #floating-menu-1 {
        margin-top: 0;
        box-shadow: none;
        border: none;
    }
    .page-template-template-003c .nav-v3 {
        padding-bottom: 30px;
    }
    .page-template-template-003c .nav-v3>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .page-template-template-003c .post-title {
        font-size: 36px;
    }
    .page-template-template-003c #floating-menu-1.fixed .floating-logo-top {
        display: inline-block;
    }
    #floating-menu-1.fixed .floating-logo-top img {
        width: 100px
    }
    .page-template-template-003c .square {
        width: calc(100% + 30px);
        margin-left: -15px;
    }
    .page-template-template-003c iframe {
        max-width: 95%;
    }
    .stories-header {
        margin-left: -15px;
        margin-right: -15px;
    }
    .tag-menu a {
        display: table;
        margin: 10px auto;
    }
    .article-hero-img-cont {
        margin-left: -15px;
        margin-right: -15px;
        width: 100%;
        margin-top: 20px;
    }
    .article-content {
        padding-right: 15px;
    }
    body {
        overflow-x: unset;
    }
    .eco-mag-text {
        max-width: 100%;
    }
    .scrollable {
        overflow-x: scroll !important;
    }
    .scrollable::-webkit-scrollbar {
        display: none;
    }
    #myNavbar {
        padding: 0;
        margin: 0;
    }
    #menu-main-menu.nav.navbar-nav {
        padding: 0 15px;
    }
    #menu-main-menu.nav.navbar-nav>.menu-item {
        border-bottom: 2px rgb(184, 200, 207) solid;
        border-radius: 0;
        padding: 0;
        padding-bottom: 5px;
    }
    #menu-main-menu.nav.navbar-nav>.menu-item>.dropdown-toggle {
        padding: 10px 0 5px 0 !important;
        text-align: left
    }
    #menu-main-menu.nav.navbar-nav .menu-item .dropdown-menu {
        display: block !important;
        position: relative;
        float: none;
        left: 0;
        border: none;
        box-shadow: none;
    }
    #menu-main-menu.nav.navbar-nav .menu-item .dropdown-menu a {
        padding: 3px 0px;
        font-size: 13px;
    }
    #menu-main-menu.nav.navbar-nav .menu-item .dropdown-menu:before {
        display: none
    }
    #menu-main-menu.nav.navbar-nav .menu-item {
        position: relative
    }
    #menu-main-menu.nav.navbar-nav .menu-item:before {
        content: " ";
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 0;
        display: block;
        height: 0;
        border-style: solid;
        border-width: 3px 0 3px 5px;
        border-color: transparent transparent transparent rgb(184, 200, 207);
    }
    #menu-main-menu.nav.navbar-nav>.menu-item:before {
        bottom: 17px !important;
    }
    #menu-main-menu.nav.navbar-nav .menu-item-has-children:before {
        display: none
    }
    #menu-main-menu.nav.navbar-nav {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    #menu-main-menu.nav.navbar-nav .menu-item {
        order: 2
    }
    #menu-main-menu.nav.navbar-nav .menu-header-search {
        order: 1
    }
    #menu-main-menu.nav.navbar-nav .menu-header-search #search_form {
        margin: 10px 0 20px 0;
        width: 100%;
    }
    #menu-main-menu.nav.navbar-nav .menu-header-search input {
        box-shadow: none;
        border-bottom: 2px solid rgb(184, 200, 207);
        border-radius: 0;
    }
    #main_menu .navbar-header {
        height: 70px;
    }
    section .container-fluid.clearfix {
        padding: 0
    }
    .social-buttons {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        border: 2px 0 solid #EEE;
        background: #FFF
    }
    .social-buttons a {
        width: 33%;
        text-align: center;
        font-size: 50px;
        padding: 5px 0;
    }
    .social-buttons a:first-child {
        border-right: 2px solid #EEE
    }
    .social-buttons a:last-child {
        border-left: 2px solid #EEE
    }
    .social-buttons .facebook i {
        color: rgb(59, 86, 157)
    }
    .social-buttons .youtube i {
        color: red;
    }
    .social-buttons .twitter i {
        color: rgb(41, 170, 227)
    }
}

.top-img-a {
    cursor: pointer;
}

#main_search_form {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
}

#main_search_form input {
    font-size: 3.5em !important;
    color: #000;
    height: 75px;
    font-family: 'Lato', sans-serif;
    border-radius: 0;
    border-style: none;
    border-bottom: 3px solid #000;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

#main_search_form>div>button {
    height: 75px;
    border-radius: 0;
    border-style: none;
    border-bottom: 3px solid #000;
}

#main_search_form>div>button>i {
    font-size: 3.5em !important;
}

.weather-item div.sp-location-weather-pro-widget {
    margin: 0 auto;
}

.share-links {
    margin-top: 0 !important
}

.eco-mag-img-container.square:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2)
}

@media (min-width: 903px) {
    .eco-mag-container .eco-mag-img-container.square {
        position: relative;
        background-size: auto 350px !important;
        transition: 1s all;
    }
    .eco-mag-container .eco-mag-img-container.square:hover {
        position: relative;
        background-size: auto 400px !important;
    }
}

@media (max-width: 903px) {
    .carousel-inner>.item {
        background-size: cover !important;
    }
    .eco-mag-img-container.square:after {
        content: " ";
        position: absolute;
        top: 65px;
        right: 40px;
        width: 30px;
        height: 30px;
        border: solid rgba(200, 200, 200, 0.7);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .banner {
        display: block !important;
        padding: 0;
        height: 10px;
        position: relative;
        top: -12px
    }
    .banner #assoc {
        position: relative;
        left: -100px;
        width: 200px;
        margin: auto;
        margin-left: 50%;
    }
    .banner * {
        display: none
    }
    .banner .left-banner,
    .banner .left-banner #nwg,
    .banner #assoc,
    .banner #assoc * {
        display: block;
    }
    .banner .left-banner #nwg p {
        display: block;
        position: absolute;
        font-size: 6px;
        top: -40px;
        left: 20px;
    }
    .banner .left-banner #nwg a {
        display: block
    }
    .banner .left-banner #nwg img {
        display: block;
        position: absolute;
        top: -30px;
        left: 20px;
        width: 30px;
        height: 25px;
    }
    .banner #assoc div {
        display: flex;
        flex-flow: row;
        position: absolute;
        margin: auto;
    }
    .banner #assoc div h1 {
        font-size: 30px
    }
    .banner #assoc div p {
        font-size: 14px;
        position: absolute;
        right: -80px;
        top: 30px
    }
    footer>div {
        margin-top: 52px !important
    }
    .social-buttons {
        border-top: 2px solid #EEE;
    }
    .social-buttons.social-buttons-title p {
        text-align: center;
        color: rgb(157, 157, 157);
        margin: auto;
        font-size: 25px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 15px
    }
    #menu-categories .menu-item {
        height: 54px;
    }
    #menu-categories .menu-item a {
        height: 53px;
    }
    .tabs-container,
    .gallery-container,
    .eco-mag-container {
        padding: 0 15px;
    }
    .tabs-container {
        margin-bottom: 0px;
    }
    #floating-menu-1 .t5-menus-btn-c ul {
        display: flex;
        flex-flow: row wrap;
        height: 160px;
    }
    #floating-menu-1.fixed *::-webkit-scrollbar,
    #floating-menu-1.fixed::-webkit-scrollbar {
        display: none;
    }
    #floating-menu-1.fixed {
        white-space: nowrap;
        width: 100%;
        overflow-x: scroll
    }
    #floating-menu-1.fixed>.floating-logo-top {
        position: absolute;
        top: 0px;
        left: 10px
    }
    #floating-menu-1.fixed .t5-menu-img-c>img {
        position: absolute;
        left: 7px;
        width: 110px;
        top: 15px
    }
    #floating-menu-1.fixed ul {
        padding-left: 120px;
        padding-top: 20px;
        overflow: hidden;
        height: 45px;
        /*width: 720px;*/
    }
    .tab-pane #floating-menu-1.fixed ul {
        width: 100%;
        padding-left: 0
    }
    #floating-menu-1.fixed .t5-menus {
        position: relative;
        top: -13px;
    }
    #floating-menu-1.fixed .t5-menus-btn-c ul {
        display: block;
        overflow: visible;
        /*width: 1000px*/
    }
    #floating-menu-1.fixed ul li {
        display: inline-block;
        width: auto;
    }
    #article-main-container {
        overflow: hidden;
    }
}

header {
    /*margin-bottom: 20px;*/
    overflow: visible;
}

.article-hero-img-cont {
    top: 50%;
    transform: translateY(-50%);
}

.article-hero-img img {
    max-width: 1010px;
    height: auto;
}

.lSSlideOuter {
    margin: 50px 0;
}

.article-content ul {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #1f1c1c;
    font-size: 17px;
}

.article-content ul li {
    color: black;
    list-style-type: none;
}

.article-content ul li:before {
    color: #0793ce;
    content: '\2022';
    padding-right: 0.5em;
}

.article-content ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

.article-content ol>li {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    margin: 0;
    padding: 0 0 0 2.7em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

.article-content ol>li:before {
    display: inline-block;
    width: 0px;
    padding-right: 7px;
    font-weight: 700;
    text-align: right;
    content: counter(item) ".";
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.form-group {
    margin: 5px 0 15px;
}

.wpcf7-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #262626;
}

input[type=text].wpcf7-form-control,
input[type=email].wpcf7-form-control,
textarea.wpcf7-form-control {
    min-width: 275px;
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid rgb(229, 229, 229);
}

textarea.wpcf7-form-control {
    width: 100%;
    height: 160px
}

input.wpcf7-form-control::placeholder {
    color: rgb(174, 174, 174)
}

.wpcf7-form-control-wrap input {
    margin-top: 3px
}

input[type=text].wpcf7-form-control.wpcf7-not-valid {
    border: 1px solid #ff6569;
}

[type='submit'].wpcf7-form-control {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 30px;
    color: #fff;
    background: #0092ce;
    border: 3px solid #007cb5;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    margin: 5px 0;
    font-size: 15px;
    height: 50px;
    min-width: 180px
}

span.wpcf7-not-valid-tip {
    display: block;
    margin: 5px 0 10px;
    font-size: 12px;
    color: #ff6569;
}

.btn-m:hover {
    color: #fff;
    text-decoration: none;
}

.btn-l:hover {
    text-decoration: none;
    color: #000;
}

.btn-s:hover {
    color: #000;
    text-decoration: none;
}

.video-thumb .play_container img {
    margin: 0
}

.main-logo img {
    width: 304px;
}

@media (max-width: 903px) {
    .main-logo img {
        width: 150px;
    }
    .modal-content iframe {
        width: 100% !important;
        height: auto !important;
    }
}

.nav>li>a.active {
    text-decoration: none;
    background-color: #eee !important;
}

#menu-item-86.current-page-item.active {
    background-color: #000 !important;
}

.main-logo img {
    width: 304px;
}

@media (max-width: 903px) {
    .main-logo img {
        width: 150px;
    }
}

.main-logo img {
    width: 304px;
}

@media (max-width: 903px) {
    .main-logo img {
        width: 150px;
    }
    .article-hero-img-cont {
        top: 0;
        transform: none;
    }
    .article-hero-img-cont img {
        width: 100vw;
    }
}

input[type="radio"] {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    box-shadow: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}

input[type="radio"]:before {
    content: " ";
    border-radius: 50%;
    position: absolute;
    background: #fff;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    width: 20px;
    height: 20px;
    top: 0px;
    bottom: 0;
    border: 1px solid #cccccc;
}

input[type="radio"]:checked:before {
    content: " ";
    border-radius: 50%;
    position: absolute;
    background: rgb(77, 145, 204);
    width: 20px;
    height: 20px;
    box-shadow: none;
    top: 0px;
    bottom: 0;
    border: 1px solid transparent;
}

input[type="radio"]:checked:after {
    content: " ";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}

input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    border: 0;
    box-shadow: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}

input[type="checkbox"]:before {
    content: " ";
    position: absolute;
    background: #fff;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    width: 20px;
    height: 20px;
    top: 0px;
    bottom: 0;
    border: 1px solid #cccccc;
}

input[type="checkbox"]:checked:before {
    content: " ";
    position: absolute;
    background: rgb(77, 145, 204);
    width: 20px;
    height: 20px;
    box-shadow: none;
    top: 0px;
    bottom: 0;
    border: 1px solid transparent;
}

input[type="checkbox"]:checked:after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 6px;
    width: 9px;
    height: 16px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 4px 4px 0;
}

ul.list-inline img {
    width: auto;
    height: 180px;
}

.caption-slider-text {
    padding: 20px 100px;
}

#slider-thumbs {
    padding: 5px 100px;
}

#scrollable {
    overflow-x: scroll !important;
}

#scrollable::-webkit-scrollbar {
    display: none;
}

.inline-list-f .selected img {
    opacity: 0.4;
}

.home #main-1 {
    /*margin-top: -20px;*/
}

#menu-item-86.active a {
    background: #000 !important;
    color: #53A040 !important;
}

.dropdown-menu li.active a {
    color: #53A040;
    background: #fff;
    text-decoration: none;
}

#floating-menu-1 ul.nav-v3 li.active a {
    background: green !important;
    color: #fff;
}

div.wpcf7-validation-errors {
    padding: 15px;
    margin: 10px 0;
    color: #fff;
    font-size: 13px;
    border: none;
}

@media (max-width: 903px) {
    .border-right {
        border: none;
    }
    .tag-menu a {
        margin-right: auto;
    }
    .wide-template .post-contents {
        padding-left: 15px;
        padding-right: 15px;
    }
    .play_container {
        width: auto;
        height: auto;
        right: 20px;
    }
    .play_container img {
        width: 64px
    }
    .eco-mag-img-container.square.video-thumb:after {
        display: none
    }
}

.scroll-contorl.right-c,
.scroll-contorl.left-c {
    height: 51px;
    top: 2px;
}

@media (max-width: 993px) {
    header {
        /*margin-bottom: 20px !important;*/
    }
    .play_container {
        padding-top: 0;
        top: 20px;
    }
    .social-media-share-button>div {
        border: none !important;
    }
    .stories-header .tag-menu a {
        margin: auto;
        margin-bottom: 10px;
    }
}

div.wpcf7-validation-errors.wpcf7-response-output {
    border: transparent !important;
    background: red;
    padding: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.reverse_category {
    color: #FFF !important;
    background: #000 !important;
}

.reverse_category .card-img-text,
.reverse_category>p {
    color: #fff;
}

.widget-container h3 {
    margin-bottom: 20px
}

.modal-dialog {
    top: 0;
}

.modal:before {
    display: none
}

@media (max-width: 903px) {
    .video-thumb .play_container img {
        display: none
    }
    .vertical-links.vertical-links {
        display: flex;
        flex-flow: column wrap;
    }
    .vertical-links .social-media-share-button {
        width: auto
    }
    .center-hr-element {
        padding: 0 5px
    }
    .eco-mag-img-container.square {
        position: relative;
        overflow: hidden
    }
    .eco-mag-img-container:hover .square-content-overlay {
        position: absolute;
        top: 0px;
    }
    .scroll-contorl.right-c {
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
        display: block
    }
    .scroll-contorl.left-c {
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
        display: block
    }
    .scroll-contorl .glyphicon {
        top: -1px;
    }
}

@media (max-width: 1199px) {
    #sub-menu {
        width: 1200px !important;
    }
}

.form-group input[type='checkbox'].form-control,
.form-group input[type='radio'].form-control {
    float: left;
    margin-right: 5px;
}

.form-group span {
    line-height: 30px;
    font-weight: 500;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.widget-container.sky-bg {
    background: #ffcf00;
}

.wpcf7-form-control.wpcf7-submit {
    margin-top: 10px
}

form.wpcf7-form label+br {
    display: none
}

div#myCarousel img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    width: 36px;
    height: 36px;
    border: solid rgba(200, 200, 200, 0.7);
    border-width: 0 4px 4px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.3s all;
}

.carousel-control .glyphicon-chevron-left {
    border-width: 4px 0 0 4px;
}

.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before {
    content: "";
}

.carousel-control .glyphicon-chevron-right {
    right: -40px;
}

.carousel-control .glyphicon-chevron-left {
    left: -40px;
}

span.caption-slider-header {
    font-size: 18px;
    margin-top: 20px;
    display: block;
    font-weight: 700;
}

ul.list-inline img {
    height: 90px
}

span.caption-slider-header {
    padding: 0px 100px;
}

.carousel-control span {
    transition: 0.3s all
}

@media (max-width: 903px) {
    .caption-slider-text {
        padding: 20px 10px;
    }
    #myCarousel {
        position: relative
    }
    span.caption-slider-header {
        padding: 0px 10px;
    }
}

span.caption-slider-header {
    padding-top: 20px;
    padding-bottom: 0px
}

.caption-slider-text {
    padding-top: 0px
}

.scrollable-wrapper {
    position: relative
}

.scrollable-wrapper #slider-thumbs {
    width: max-content !important
}

.arrow-slid {
    position: absolute;
    top: 35px;
    width: 30px;
    height: 30px;
    border: solid rgba(200, 200, 200, 0.7);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}

.arrow-slid.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: -30px;
}

.arrow-slid.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: -30px;
}

@media(max-width: 903px) {
    .carousel-control .glyphicon-chevron-right {
        right: 40px;
    }
    .carousel-control .glyphicon-chevron-left {
        left: 40px;
    }
}

.inline-list-f a img {
    cursor: pointer
}

#image_modal div#myCarousel img {
    height: auto !important
}

@media(min-width: 903px) {
    #blur-bg {
        margin-top: 0;
    }
}

footer .container:last-child {
    position: relative;
    bottom: 20px
}

header~section#article-main-container {
    margin-top: 50px;
}

#slider-thumbs li:before {
    display: none
}

.article-content #slider-thumbs img,
.carousel img {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-line,
.form-line-double {
    margin-top: 10px;
}

.form-line-double label,
.form-line label {
    width: 49%;
}

.form-line-double label {
    display: inline-block
}

.form-line-double label:last-child {
    float: right
}

.form-line-double label input,
.form-line label input {
    width: 100%;
}

@media (max-width: 903px) {
    .form-line label,
    .form-line-double label {
        display: block;
        width: 100%;
    }
    .form-line-double label:last-child {
        float: left
    }
}

#featured_slider .featured-slide.item {
    background-size: cover !important;
}

#main-1 #post_loop .col-md-4,
#footer-widgets .col-md-4 {
    width: 100%;
}

#footer-widgets .widget-container {
    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width: 1200px) {
    #footer-widgets .col-md-4 {
        width: 32.3333%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    #footer-widgets .col-md-4 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    #main-1 #post_loop .col-md-4 {
        width: 32.3333%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #main-1 #post_loop .col-sm-6 {
        width: 49%;
    }
    #footer-widgets .widget-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.article-content .wp-caption img {
    margin-bottom: 10px;
}

.widget-container .btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

#overlay_vid_sm {
    position: fixed;
    bottom: 90px;
    right: 10px;
    z-index: 999;
}

.upper-layer {
    position: relative;
    z-index: 9999;
}